@charset "utf-8";


table {
    font-size:1.4vw; 
    width: 100%;
    border-top: 1px solid rgba($color: #d6d6d6, $alpha: 1.0);
    border-collapse: collapse;
  }
  
  th{

    vertical-align: middle;
    background-color: beige;
    border-bottom: 1px solid rgba($color: #d6d6d6, $alpha: 1.0);
    
  }

  td {
    vertical-align: middle;
    height: 60px;
    padding-left: 20px;
    text-align: center;
    
  }

  tbody{
    vertical-align: middle;
    border-bottom: 2px solid rgba($color: #d6d6d6, $alpha: 1.0);
  }
  
  .del{
    padding: 15px;
    vertical-align: middle;
    color: white;
    background-color: rgba($color: #ff0000, $alpha: 0.8);
    border-radius: 8px;
  }

a:hover,
a:active { text-decoration: none; color: rgb(255, 255, 255);}

tbody:hover{
    transition: 0.3s;
    background-color: rgba($color: #7bbfc8, $alpha: 1.0);
}
