@charset "utf-8";


// a { text-decoration: none; color: black; }
a:visited { text-decoration: none; color:black; }
// a:hover { text-decoration: none; }
// a:focus { text-decoration: none; }


.gallery {
	
	display: flex;
    flex-wrap: wrap;
    margin: -1rem -1rem;
	height: auto;
	padding: 2.7rem;
}

.one{
	border-style: double;
	border-color: rgba($color: #d4d8e6, $alpha: 1.0);
	padding: 20px 20px 20px 20px;
}

.one:hover{
	transition: 0.3s;
	background-color: rgba($color: #7bbfc8, $alpha: 1.0);
	.card-header-title {
		text-decoration: none; color: rgba($color: #ffffff, $alpha: 1.0)
	}
}

// .one .card-header-title:hover { text-decoration: none; color: rgb(255, 255, 255);}


.card{
	// width: 352px;
	// height: 234px;
	width: auto;
	height: auto;
	position: relative;
	flex: 1 0 22rem;
	margin: 2rem;
	cursor: pointer;
}
	

// .card-header{
// 	display:flex;
// 	width:100%;
// 	height:20px;
// 	max-height:30px;
// 	align-items:center;
// 	justify-content:space-between;
// 	flex: 1 0 auto;
	
// 	i{
// 		color:black;
// 		padding-right:25px;
// 	}
	
	h1.card-header-title{
		padding-left:25px;
		margin:0;
		color:black;
		line-height:40px;
		font-weight:400;
	}
 

.card-image{
	display: block;
	width: 389px;
	height: 234px;
	margin-left: auto;
	margin-right: auto;
}

.card:hover .card-info,
.card:focus .card-info {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.card-info {
    display: none;
}

.card-info li {
	color: rgb(255, 255, 255);
    display: inline-block;
    font-size: 1.0rem;
    font-weight: 600;
}

.card-likes {
    margin-right: 2.2rem;
}


.fa-clone,
.fa-comment {
    transform: rotateY(180deg);
}


div.card-footer{
	height:20px;
	display:flex;
	justify-content:flex-start;
	margin-left: 0px;
	flex-shrink: 0;
	
	i{
		color:black;
		position:relative;
		right:20px;
	}
}

.keywords {
	width:390px;
	padding-bottom: 0px;
	border-bottom: 1px solid rgba(00, 00, 00, 0.2);
	max-height: 80px;
	overflow-x: scroll;
	//스크롤의 좌우 길이 조정필요.
	
	.keyword {
		// background-color: rgba(0, 0, 0, 0.1);
		text-align: left;
		font-size: 16px;
		display: inline-block;
		border-radius: 10px 10px 10px 10px;
		color: black;
		padding: 2px;
		
		margin: 0 5px;
		cursor: pointer;
	}

	.keyword:hover {
		color: black;
		background-color: #ffffff;
		box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.25);
	}
}


 
div.row{
	flex-wrap: wrap;
	display:flex;
	justify-content:center;
	margin-top:100px;	
}

@supports (display: grid) { 
	.gallery {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
		grid-gap: 0.2rem;
	}

	.card,
    .gallery {
        width: auto;
        margin: 0;
	}
}