@charset "utf-8";
@import './common';

$iPad: 'screen and (max-width : 768px)';
$iPadPro: 'screen and (min-width : 769px) and (max-width : 1024px) ';
$desktop: 'screen and (min-width : 1025px)';

.user {
    @include wrap;
    display: flex;
    justify-content: center;
    height: 100vh;
    float: none;
    vertical-align: middle;
    box-sizing: border-box;

    h1 {
        color: #000;
        font-weight: $f600;
        margin-bottom: 30px;
    }

    .mention {
        margin: 10px;
        color: #a6cdc6;
        font-size: 2.5vw;
        width: 100vw;
        text-align: center;
        display: inline-block;
    }

    .checkOption {
        text-align: center;
        padding-top: 30px;
        margin-bottom: 20px;
    }

    .input-with-label {
        float: none;
    }

    /*로그인*/
    &#login {


        .login-img {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            margin: 10px;

            h1 {
                display: inline-block;
                color: #41abac;
                font-size: 7vw;
                margin: 20px;
            }

            .main-logo {
                display: inline-block;
                height: 15vw;
                margin: 20px;
            }
        }

        .btn--login {
            margin-top: 5px;
        }

        .text {
            @include wrap;

            p {
                color: #787878;
                float: left;
                font-size: $font-size__5;
                margin-right: 10px;
            }

            .bar {
                height: 1px;
                background-color: $grey;
                float: right;
                margin-top: 9px;
                margin-bottom: 20px;
            }
        }

        .emailSaveCheck,
        .autoLogin {
            display: inline-block;
            margin: 0 8px;

            input {
                &[type=checkbox] {
                    -webkit-appearance: checkbox;
                    position: static;
                    left: 0px;
                    margin: 02px;
                    border: 1px solid black;
                }
            }
        }

        .sns-login {
            margin: 20px 0;
            text-align: right;

            .bar {
                width: calc(100% - 100px);
            }

            #kakao-login,
            #naver-login,
            .google-login {
                display: inline-block;
                margin: 10px;
            }

            #kakao-login {
                margin: 0 10px;
            }

            .logos {
                text-align: center;
            }
        }

        .add-option {
            .bar {
                width: calc(100%);
            }

            .wrap {
                text-align: right;
                cursor: pointer;
                margin-bottom: 10px;
            }

            p {
                float: left;
            }

            a {
                float: right;
                color: #000;
                font-weight: $f600;
            }
        }

    }

}

#sign-up,
#JoinAuth,
#change-password,
#find-email-password {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10vh 15vw;
    max-width: 460px;
    min-height: 440px;
    padding: 20px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0px 0px 5px 5px rgba(50, 50, 50, .3), 0px 0px 18px 18px rgba(0, 0, 0, .15);

    #input-with-label {
        width: 500px;
    }

    #button-wrap {
        div {
            margin: 0 5%;
            width: calc(40% - 4px);
            text-align: center;
            padding: 8px 0;

            border: {
                style: solid;
                width: 1px;
                color: #ccc;
            }

            display: inline-block;
        }
    }

    #Join-title {
        font-size: 2.5rem;
        display: inline-block;
        margin-right: calc(100% - 180px)
    }

    #JoinAuth-title {
        font-size: 2rem;
        display: inline-block;
        margin-right: calc(100% - 216px)
    }

    #find-title {
        font-size: 1.6rem;
        display: inline-block;
        margin-right: calc(100% - 280px)
    }

    #find-email-result {
        text-align: center;

        h1,
        h3 {
            margin: 0 0 16px 0;
        }
    }

    #find-email-tab,
    #find-password-tab {
        margin: 0;
        padding: 4px;
        display: inline-block;
        width: calc(50% - 16px);
        text-align: center;

        border: {
            style: solid;
            width: 1px;
            color: #ccc;
        }

        font: {
            size: 2rem;
        }
    }

    .close {
        display: inline;
        background-color: white;
        opacity: 1;

        .close-img {
            width: 32px;
        }

    }

    .JoinAuth-subtitle {
        margin-bottom: 10px;
    }

    input {
        background-color: whitesmoke;
    }

    #term-doc {
        .term-view {
            text-align: right;
            display: inline-block;
            width: calc(100% - 150px);

            span {
                cursor: pointer;
            }
        }
    }

    button {
        background-color: rgba($color: #31a8ac, $alpha: 1.0);
    }

    .disabled {
        background-color: rgba($color: #d4d8e6, $alpha: 1.0);
    }

    .back {
        margin: 7px 0;
        text-align: center;
        text-decoration: underline;
        color: rgb(0, 119, 255);
        cursor: pointer;
    }

}

.terms-doc-dialog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 5%;
    left: 5%;
    right: 5%;
    bottom: 5%;

    .terms {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: white;
        padding: 20px;
        margin: 10px;
        max-width: 400px;
        border-radius: 20px;
        box-shadow: 0px 0px 5px 5px rgba(50, 50, 50, .3), 0px 0px 18px 18px rgba(0, 0, 0, .15);

        h1 {
            font-size: 1.65rem !important;
            text-align: center;
            margin: 0 !important;
        }

        .terms-content {
            background-color: rgba(200, 200, 200, 1);
            padding: 15px;
            margin: 10px;
            border: 1px solid rgba(180, 180, 180, 1);
            height: 260px;
            overflow: auto;
        }

        button {
            display: inline-block;
            width: 80px;
            height: 30px;
            margin: 5px;
            background-color: rgb(50, 50, 50);
            border-radius: 10px;
            color: whitesmoke;
        }
    }
}

.hideJoin {
    visibility: hidden !important;
}

#popup-join,
#popup-find {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    .input-with-label {
        height: auto;
        float: left;
    }
}
@media (max-width: 1000px) {

    #forget-password,
    #sign-up {
        padding: 20px 20px;
    }

    #reset-password-form {
        width: calc(100vw - 40px);
    }
    .add-option {
        height: 120px;
    }
}

// 하단 버튼 absolute 해제
@media (max-height: 650px) {
    .user {

        //회원가입
        &.join {
            .btn-bottom {
                position: inherit;
                @include wrap;
                margin-top: 60px;
                margin-bottom: 20px;
            }
        }
    }
}

@media #{$iPad, $iPadPro} {
    #login{
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .left-view,
    .right-view {
        margin: 1vh 1vw;
    }
    #popup-join,
    #popup-find {
        height: 800px;
        position: absolute;
        top: 20vh;
        left: 0;
        right: 0;
        bottom: 0;
        .input-with-label {
            height: auto;
            float: left;
        }
    }

}

@media #{$desktop} {

    .left-view {
        vertical-align: middle;
        svg {
            height: 600px;
        }
    }

    .right-view {
        padding-top: 100px;
    }
}